/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

header{
    background-image: url(../img/wall.png);
    background-size: cover;
    height: 20vh;
}

h1{
    font-family: Edu TAS Beginner;
    font-size: 10rem;
}

main{
    background-image: url(../img/cork.png);
    background-size: cover;
    height: 100%;
}

#col{
    margin-top: 100px;
    display: flex;
    justify-content: center; 
}

.card{
    display: flex;
    align-items: center;
    width: 650px;
    height: 800px;
    background-image: url(../img/wall.png);
    display: flex;
}

.img {
    justify-content: center;
}

#green {
justify-content: center;
background-color: greenyellow;
height: 600px;
width: 600px;
}
p{
    font-family:Sometype Mono;
    font-size: 1.5rem;
}

#violet{
    justify-content: center;
    background-color: violet;
    height: 600px;
    width: 600px;
}