html {
    margin: 0;
    padding: 0;
    height: 100%;

}

body {
    background-image: url(../img/cork.png);
    background-size: cover;
}

header {
    background-image: url(../img/wall.png);
    background-size: cover;
    height: 20vh;
}

h1 {
    font-family: Edu TAS Beginner;
    font-size: 10rem;
}

.photo-container {
    display: flex;
    flex-wrap: wrap;
}

.photo-card {
    position: relative;
    margin: 20px auto;
    /* Aggiungi margine automatico per centrare la card */
    padding: 10px;
    /* Aggiungi padding per dare spazio interno alla card */
    width: 90%;
    /* Imposta una larghezza percentuale per la card */
    max-width: 400px;
    /* Limita la larghezza massima */
    background: #ffffff;
    /* Colore di sfondo della card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Aggiungi ombra per l'effetto card */
    border-radius: 10px;
    /* Arrotonda gli angoli della card */
    text-align: center;
    /* Centra il testo e gli elementi della card */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Transizioni fluide */
    cursor: pointer;
    /* Cambia il cursore in un puntatore */

}

.photo-card:hover {
    transform: scale(1.05) rotate(10deg);
    /* Zoom e rotazione */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Aumenta l'ombra */
}

.pin-image {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    z-index: 1;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    /* Overlay inizialmente nascosto */
    justify-content: center;
    align-items: center;
}

.overlay.show {
    display: flex;
    /* Mostra l'overlay */
}

.overlay-content {
    text-align: center;
}

.overlay-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.hide-pin {
    display: none;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
    z-index: 10;
}

.close-button:hover {
    color: #ff0000;
}